body    {
            background-color: #0D1117;
            color: #C9D1D9;
            text-align: center;
            font-family: 'Inter', sans-serif;
        }

a       {
        font-family: 'Cutive', serif;
        font-size: 24px;
        text-decoration: none;
        color: #7EE787;
        }

ul, ol  {
        text-align: center;
        list-style-position: inside;
        }

li      {
        text-align: center;
        list-style-position: inside;
        margin-top: 16px;
        color: #A4D5FE;
        }

img     {
        height: 100px;
        }